@import "tailwindcss";

* {
  font-family: 'manrope', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}
 
@media screen and (min-width: 1441px) {
  .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}

nav.top-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

p {
  font-size: 0.9375rem; /*15px*/
  line-height: 166%;
  font-weight: 400;
}

input[type="text"]{
  font-size: 0.875rem;
  font-weight: 700;
}

input[type="radio"] {
  border: 1px solid #D87D4A;
}

.bottom-shadow {
  /* Oval Copy 4 */
/* position: absolute;
left: 32.43%;
right: 32.71%;
top: 51.06%;
bottom: 42.61%; */
width: 122px;
height: 18px;
background: #000000;
filter: blur(21.7463px);

}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
  }
}